<html lang="pt-BR">

<head>

    <%- include('common/common-header-home'); %>
        <%- include('home/home-style'); %>
            <%- include('home/home-script'); %>
</head>

<body>
    <%- include('home/home-valid'); %>
        <%- include('home/home-form'); %>
            <%- include('common/common-validate.ejs'); %>
</body>

</html>