<html lang="pt-BR">

<head>
    <%- include('common/common-header-login'); %>
        <%- include('login/login-style'); %>
            <%- include('common/common-request'); %>
                <%- include('login/login-script'); %>
</head>

<body>
    <%- include('login/login-form'); %>
</body>

</html>